<html>
  <head>
    <meta charset="utf-8">
    <title>Program 4 App</title>
  </head>
  <body>
    <h1> Run the program </h1>
    <p> use the following buttons </p>
    <form action="clear" method="POST">
        <input type="submit" name="Clear"> Clear Data</input>
    </form>

    <form action="update" method="POST">
        <input type="submit" name="Load">Load Data</input>
    </form>

    <form action = "/query" method = "post">
            <input type="text" name = "first"></input>
            <input type="text" name = "last"></input>
            <input type="submit" value = "Query Data"></input>
    </form>
        </br></br></br></br>


        {% if data == None %}
            <p></p>
        {% else %}
            {% for item in data %}
                <h4>Date item:</h4>
                <ul>
                {% for keys in item %}
                    <li> {{keys}} : {{item[keys]}} </li>
                {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
  </body>
</html>