<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Program 4 App</title>
  </head>
  <body>
    <h1> Run the program </h1>
    <p> use the following buttons </p>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/LoadFunc', { },
    function(data) { }); return false; }); }); </script>

    <input type="button" id="myButton" value="Load Data"/>

    <script type=text/javascript> $(function() { $("#clearButton").click(function (event) { $.getJSON('/ClearFunc', { },
    function(data) { }); return false; }); }); </script>
    <input type="button" id="clearButton" value="Clear Data"/>

    <p></p>
	<form method="POST">
	First name: <input type="text" name="FirstName" ><br>
	Last name: <input type="text" name="LastName"><br>
	<input type="submit" value="Query">
	</form>
    <ul>
        {% for item in data %}
        <li> {{item}}</li>
        {% endfor %}
    </ul>
  </body>
</html>