<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Program 4 App</title>
  </head>
  <body>
    <h1> Run the program </h1>
    <p> use the following buttons </p>
    <form action="clear" method="POST">
        <input type="submit" name="Clear"> Clear Data</input>
    </form>

    <form action="load" method="POST">
        <input type="submit" name="Load">Load Data</input>
    </form>

    <p></p>
	<form action="query" method="POST">
        <label for="FirstName"> First Name: </label>
        <input type="text" id="FirstName" name="fName" autofocus autocomplete="off">
        <label for="LastName"> Last Name: </label>
        <input type="text" id="LastName" name="lName" autofocus autocomplete="off">
        <button>Query</button>
	</form>
  </body>
</html>